@{
    ViewBag.Title = "En återställningslänk har skickats";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vänligen kolla din inkorg för att fortsätta återställningen.
    </p>
</div>
	
